<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a0613">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="LED_v2.0"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.0613">

        <activity
            android:name=".ledActivity"
            android:screenOrientation="landscape"
            android:theme="@style/ledTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/myTheme"
            android:screenOrientation="portrait">
        </activity>

        
        <activity
            android:name=".startActivity"
            android:theme="@style/ledTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>